.music {
  align-items: center;
  color: rgb(255, 250, 255);
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.musicName {
  margin-left: 50px;
  width: 30%;
}

.favorito {
  margin-left: 10px;
}

.check {
  margin-left: 5px;
}
